body{
    background-image: url(assets/images/background.jpg);
}

.main{
    /* border: 4px solid black; */
    border-radius: 15px;
    max-width: 720px;
    background-color: #495464;
    padding-bottom: 10px;
}
 
.screen{
   /*  border: 5px solid greenyellow; */
    background-color: #e3e3e3;
    border-radius: 5px;
    
}

.col{
    /* border: 4px solid green; */
    /*background-color: #b4b4b4;*/
    border-radius: 5px;
}

.display{
    background-color: aqua;
    height: 35px;
    color: black;
    font-size:xx-large;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-light{
    max-width: 150px;
    width: 120px;
    background-color: #F4F4F2;
    color:  #495464;
    font-size:25px;
    border: none;
}

.operations{
    background-color: #e3e3e3;
    border-radius: 5px;
}
